body {
    --outline: 2px solid black;
    /* background: -webkit-linear-gradient(left, rgba(55, 55, 197, .7), rgba(245, 23, 53, .3)); */
    background-color: whitesmoke;
}
.bar {
    outline: var(--outline); /*Outline declaration helps with styling elements*/
    outline-color: white;
    margin: 30px 0 30px 0;
    height: 120px;
    padding: 10px;
    background-color: white;
}
.top-bar {
   margin: 0 0 30px 0;
}
h1 {
    /* outline: var(--outline); */
    margin: 40px 0 5px 10px;
}
#center-trade {
    text-align: center;
}
nav {
    /* outline: var(--outline); */
    margin: -68px 0 0 0;
    font-size: 22px;
}
.fourth-links {
    /* outline: var(--outline); */
    font-size: 40px;
    margin: 0 10px 0 10px;
}
.right-button {
    position: absolute;
    right: 10px;
    margin: -95px 0 0 0;
    border-radius: 5px;
    width: 200px;
    height: 100px;
}
.black-button {
    background-color: black;
    color: white;
}
.white-button {
    background-color: whitesmoke;
}
.last {
    position: absolute;
    right: 10px;
    margin: -75px 0 0 0;
    border-radius: 5px;
    width: 200px;
    height: 100px;
}
span {
    font-size: 30px;
}
section {
     /* outline: var(--outline); */
     font-size: 45px;
     margin: -20px 0 0 0;
}