body {
    --outline: 2px solid black;
    /* background: -webkit-linear-gradient(left, rgba(206, 24, 24, 0.699), rgba(147, 85, 155, 0.788)); */
    background-color: whitesmoke;
}
button { 
    border: 2px solid black;
    /* margin: 50px; */
    padding: 25px;
    font-size: 25px;
    width: 270px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#black-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    border-style: ridge;
    margin: 50px -10px 50px 55px;
}
#white-button {
    background-color: white;
    border-radius: 10px;
    margin: 50px 0 50px 70px;
}
#middle-button {
    border-radius: 10px;
    position: relative;
    width: 220px;
    height: 60px;
    top: 270px;
    padding: 5px 0 10px 0;
}
div {
    outline: var(--outline);
    text-align: center;
}
.left {
    float: left; /*Used geeksforgeeks.org to confirm the property float for my divs to align them side by side*/
    width: 20%; 
    height: 550px;
    margin: 20px 20px 0 55px;
}
.middle {
    float: left;
    width: 20%;
    height: 550px;
    margin: 20px 50px 0 60px;
}
#middle-features {
    /* outline: var(--outline); */
    padding: 10px 40px 40px 40px;
    position: relative;
    top: -50px;
    font-size: 20px;
    line-height: 45px;
    color: gray;
}
.right {
    float: right;
    width: 500px;
    height: 490px;
    margin: 20px 450px 0 0;
    background-color: black; 
}
#right-paragraph {
    /* outline: var(--outline); */
    position: absolute;
    bottom: 100px;
    text-align: left;
    width: 300px;
    font-size: 25px;
    font-weight: bold;
}
footer {
    font-weight: bold;
}
#right-footer {
    /* outline: var(--outline); */
    position: absolute;
    bottom: 75px;
}
#left-footer {
    /* outline: var(--outline); */
    position: relative;
    top: 100px;
    left: -100px;
    font-size: 20px;
}
#left-heading {
    /* outline: var(--outline); */
    position: relative;
    left: -70px;
    top: 10px;
}
#white-square {
    outline: var(--outline);
    border-radius: 15px;
    width: 100px;
    height: 100px;
    position: relative;
    top: 110px;
}
section {
    /* outline: var(--outline); */
    position: relative;
    top: 25px;
}
#black-circle {
    border-radius: 100px;
    width: 80px;
    height: 80px;
    position: relative;
    top: 40px;
    background-color: black;
}
#left-black-background {
    background-color: black;
    height: 320px;
}
